<!DOCTYPE html>
<html ng-app="MemeWorld" ng-controller="AppController as ctrl" ng-cloak>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="../css/app.css">
        <link rel="icon" href="../assets/images/logo.png">
        <title>Meme World</title>
    </head>
    <body>
        <header>
            <md-toolbar layout-xs="column" layout-sm="column" layout="row" layout-align="center center">
                <div layout="row" layout-align="center center" class="relative" flex="100">
                    <div layout="row" layout-align="center center" layout-align-gt-sm="start center" flex="100" flex-gt-xs="55" flex-gt-sm="35" flex-gt-md="30">
                        <span flex="20" flex-gt-md="30">
                            <img src="/assets/images/logo.png" class="img-responsive" alt="logo" layout-padding> 
                        </span>
                        <a href="/" class="no-decorate text-white">
                            <h1 layout-padding class="md-headline">Meme World</h1>
                        </a>
                    </div>
                    <span hide-xs hide-sm flex></span>
                </div>
                <div hide-gt-sm class="border-bottom full-width"></div>
                <div layout="row" layout-align="center center" flex-gt-xs="45" flex-gt-sm="35">
                    <div layout="row" flex-gt-sm="65">
                        <div layout="row" layout-align="center center" ng-click="ctrl.showUserMenu($mdMenu, $event)">
                            <img ng-if="{{user.profilePic}}" class="avatar" flex="35" flex-gt-sm="30" ng-src="data:image/png;base64,{{user.image}}" layout-padding>
                            <i ng-if="!{{user.profilePic}}" class="material-icons font-36" layout-padding>account_circle</i>
                            <span ng-class="$root.$mdMedia('gt-xs') ? 'font-14': 'font-10'">{{user.username}}</span>
                        </div>
                    </div>
                </div>
            </md-toolbar>
        </header>
        <spinner class="spinner"></spinner>
        <h1 class="md-headline text-center mt-30">Reset Password</h1>
        <div ng-controller="ResetPasswordController as pwCtrl">
            <form name="resetPassword" layout="column" layout-align="start center">
                <md-input-container>
                    <label class="text-center">New Password</label>
                    <input type="password" name="password" ng-model="pwCtrl.password" ng-focus="pwCtrl.clearErrors()" required>
                    <div ng-messages="resetPassword.password.$error"></div>
                </md-input-container>
                <md-input-container>
                    <label class="text-center">Confirm Password</label>
                    <input type="password" name="confirmPassword" ng-model="pwCtrl.confirmPassword" ng-focus="pwCtrl.clearErrors()" required>
                    <div ng-messages="resetPassword.confirmPassword.$error"></div>
                </md-input-container>
                <md-button layout-margin type="submit" class="md-raised md-accent" ng-click="pwCtrl.submit(resetPassword.$valid)" ng-disabled="ctrl.processing">Reset</md-button>
                <span ng-if="pwCtrl.err" layout-margin md-colors="{color: 'red'}">\{{pwCtrl.err}}</span>
            </form>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.22/angular-ui-router.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.22/stateEvents.min.js"></script>
        <script src="../src/memeworld.module.js"></script>
        <script src="../src/reset-password/reset-password.controller.js"></script>
        <script src="../src/spinner/spinner.component.js"></script>
    </body>
</html>